
.controle-ponto-container {
  display: flex;
  min-height: 100vh;
  background-color: #f6f7f8;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
}


.controle-ponto {
  flex: 1;
  padding: 2rem;
  background-color: #f6f7f8;
  box-sizing: border-box;
}


.controle-ponto .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .controle-ponto .grid {
    grid-template-columns: 2fr 1fr;
  }
}


.controle-ponto .col-span-3.lg\:col-span-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.controle-ponto aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}


