
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ccc !important;
}


input,
select,
textarea {
  background-color: #ffffff !important;
  color: #1a1a1a !important; 
  border: 1px solid #ccc;
}

input::placeholder,
textarea::placeholder {
  color: #888 !important; 
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--primary);
  background-color: #fff;
  color: #000 !important; 
}
